<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/normalize")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/custom")
    @Scripts.Render("~/bundles/modernizr")

    <script type="text/javascript">
        var appInsights = window.appInsights || function (config) {
            function s(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, r = document, f = window, e = "script", o = r.createElement(e), i, u; for (o.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js", r.getElementsByTagName(e)[0].parentNode.appendChild(o), t.cookie = r.cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace"]; i.length;) s("track" + i.pop()); return config.disableExceptionTracking || (i = "onerror", s("_" + i), u = f[i], f[i] = function (config, r, f, e, o) { var s = u && u(config, r, f, e, o); return s !== !0 && t["_" + i](config, r, f, e, o), s }), t
        }({
            instrumentationKey: "c506c221-2187-4716-bcc2-9550257dee16"
        });

        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body>
    <div class="off-canvas-wrap" data-offcanvas>
        <div class="inner-wrap">
            <nav class="tab-bar">
                <section class="left-small">
                    <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
                </section>

                <section class="middle tab-bar-section">
                    <h1 class="title">@Html.ActionLink("cTracker", "Index", "Home")</h1>
                </section>
            </nav>

            <aside class="left-off-canvas-menu">
                <ul class="off-canvas-list">
                    <li><label>Menu</label></li>
                    <li>@Html.Partial("_LoginPartial")</li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">My Inventory</a></li>
                    <li><a href="#">My Account</a></li>
                    <li>@Html.ActionLink("Cigars", "Index", "Cigars")</li>
                </ul>
            </aside>

            <section class="main-section">
                @RenderBody()
            </section>

            <a class="exit-off-canvas"></a>

        </div>
    </div>

    <footer class="row">
        <div class="large-12 columns">
            <hr>
            <div class="row">

                <div class="large-6 columns">
                    <p>© Stephen Belyea.</p>
                </div>

                <div class="large-6 small-12 columns">
                    <ul class="inline-list right">
                        <li><a href="#">Link 1</a></li>
                        <li><a href="#">Link 2</a></li>
                        <li><a href="#">Link 3</a></li>
                        <li><a href="#">Link 4</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </footer>    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/foundation-core")
    @Scripts.Render("~/bundles/foundation-addons")
    <script>
    $(document).foundation();
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
